<aside class="sticky-sidebar">
  <div class="sidebar-header-box d-none d-lg-flex">
    <span class="material-symbols-outlined">menu</span>
    <span>Danh mục sản phẩm</span>
  </div>
  <div class="d-flex flex-column">
    <a href="/pages/coffee.html" class="sidebar-cat-link">
      <span class="material-symbols-outlined cat-icon cat-icon-coffee">coffee</span>
      <span>Cà Phê</span>
    </a>
    <a href="/pages/tea.html" class="sidebar-cat-link">
      <span class="material-symbols-outlined cat-icon cat-icon-tea">emoji_food_beverage</span>
      <span>Trà</span>
    </a>
    <a href="/pages/freeze.html" class="sidebar-cat-link">
      <span class="material-symbols-outlined cat-icon cat-icon-freeze">icecream</span>
      <span>Freeze</span>
    </a>
    <a href="/pages/phindi.html" class="sidebar-cat-link">
      <span class="material-symbols-outlined cat-icon cat-icon-phindi">coffee_maker</span>
      <span>PhinĐI</span>
    </a>
    <a href="/pages/banh-mi-que.html" class="sidebar-cat-link">
      <span class="material-symbols-outlined cat-icon cat-icon-banhmi">bakery_dining</span>
      <span>Bánh Mì Que</span>
    </a>
    <a href="/pages/cake.html" class="sidebar-cat-link">
      <span class="material-symbols-outlined cat-icon cat-icon-cake">cake</span>
      <span>Bánh Ngọt</span>
    </a>
    <a href="/pages/drinks.html" class="sidebar-cat-link">
      <span class="material-symbols-outlined cat-icon cat-icon-drinks">local_bar</span>
      <span>Thức Uống Khác</span>
    </a>
    <a href="/pages/matcha.html" class="sidebar-cat-link">
      <span class="material-symbols-outlined cat-icon cat-icon-matcha">eco</span>
      <span>MatchaĐI</span>
    </a>
  </div>
</aside>

